* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
}
header {
    height: 20vh;
    width: 100%;
}

header img {
    height: 20vh;
    width: 20vh;
    cursor: pointer;
}

section {
    height: 80vh;
}

.send-icon {
    margin-left: 10px;
    width: 15px;
}

.thanks-container {
    height: 80vh;
}